* {
   font-family: 'Pretendard', sans-serif;
}

.header {
   display: flex;
   background-color: #20232A;
   color: white;
   flex-direction: row;
   justify-content: space-around;
   padding: 12px 0px;
   position: fixed;
   width: 100%;
   z-index: 4;
   top: 0;
}

.header .logo {
   display: flex;
}

.header .logo a {
   display: flex;
   flex-direction: row;
   align-items: center;
   font-size: 25px;
   font-weight: 600;
   gap: 0px;
   color: #60DAFB;
   text-decoration: none;
   transition-duration: 0.2s;
}

.header .logo a:hover {
   transform: scale(110%);
   transition-timing-function: ease-in-out;
}

.header .nav {
   display: flex;
   list-style: none;
   gap: 40px;
   margin: 0;
}

.header .nav li {
   display: flex;
   align-items: center;
}

.header .nav li a {
   text-decoration: none;
   color: white;
   transition-duration: 0.2s;
}

.header .nav li a:hover {
   transform: scale(110%);
   transition-timing-function: ease-in-out;
}

.header .logo a img {
   height: 30px;
   display: flex;
}

.header .logo a .title {
   display: flex;
}

.section {
   margin-top: 54px;
   text-align: center;
   padding: 70px;
   background-color: #272C34;
   background-image: url(../public/img/section_bgimg.svg);
   background-repeat: no-repeat;
   background-size: 750px;
   background-position: 100% -30%;
}

.section .section_title {
   color: #60DAFB;
   font-size: 80px;
   margin: 30px 0;
   z-index: 3;
}

.section .section_description {
   color: white;
   font-size: 32px;
   font-weight: 200;
   margin-bottom: 60px;
   z-index: 3;
}

.section .link_wrap {
   display: flex;
   flex-direction: row;
   font-size: 16px;
   align-items: center;
   justify-content: center;
   gap: 24px;
}

.section .link_wrap .get_started {
   display: flex;
   padding: 10px 20px;
   background-color: #60DAFB;
   color: #272C34;
   cursor: pointer;
   transition-duration: 0.2s;
}

.section .link_wrap .get_started:hover {
   background-color: white;
   transition-timing-function: ease-in-out;
}

.section .link_wrap .tutorial {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   gap: 5px;
   color: #60DAFB;
   transition-duration: 0.2s;
}

.section .link_wrap .tutorial span {
   font-size: 16px;
   display: flex;
}

.section .link_wrap .tutorial:hover {
   color: white;
   transition-timing-function: ease-in-out;
}

.main {
   z-index: 3;
   padding-bottom: 200px;
}

.main .features {
   display: flex;
   margin: 0 auto;
   padding: 80px 20px 0;
   width: 90%;
   max-width: 1220px;
   gap: 50px;
}

.main .features .item {
   display: flex;
   flex-direction: column;
   width: 33.33%;
}

.main .features .item p {
   margin: 15px 0;
}

.main .features .item .feature {
   font-size: 24px;
   font-weight: 100;
   color: #6d6d6d;
}

.main .features .item .sub {
   font-size: 17px;
   font-weight: 300;
   line-height: 180%;
}

.main .features .item .conclusion {
   font-size: 17px;
   font-weight: 300;
   line-height: 180%;
}

.main .features .item .conclusion span {
   cursor: pointer;
   margin-left: 4px;
   background-color: rgba(187, 239, 253, 0.3);
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.main .features .item .conclusion span:hover {
   background-color: #bbeffd;
   border-bottom-color: #1a1a1a;
}

@media screen and (max-width:1024px) {
   .section {
      background-image: none;
   }
}

hr {
   max-width: 1220px;
   background-color: #ececec;
   border: none;
   height: 1px;
   margin-top: 40px;
}

.state_test {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
}

.state_test .button_wrap {
   display: flex;
   flex-direction: row;
   margin: 0 auto;
   width: 100%;
   align-items: center;
   justify-content: center;
   gap: 30px;
}

.state_test .button_wrap .button {
   padding: 15px 25px;
   background-color: #272C34;
   color: white;
   display: flex;
   font-size: 16px;
   border-radius: 46px;
}

.state_test .display {
   display: flex;
   font-size: 30px;
}