* {
   font-family: 'Pretendard', sans-serif;
}

.header {
   display: flex;
   background-color: #20232A;
   color: white;
   flex-direction: row;
   justify-content: space-around;
   padding: 12px 0;
   position: fixed;
   width: 100%;
   z-index: 4;
   top: 0;
}

.header .logo {
   display: flex;
}

.header .logo a {
   display: flex;
   flex-direction: row;
   align-items: center;
   font-size: 25px;
   font-weight: 600;
   gap: 0px;
   color: #60DAFB;
   text-decoration: none;
   transition-duration: 0.2s;
}

.header .logo a:hover {
   transform: scale(110%);
   transition-timing-function: ease-in-out;
}

.header .nav {
   display: flex;
   list-style: none;
   gap: 40px;
   margin: 0;
}

.header .nav li {
   display: flex;
   align-items: center;
}

.header .nav li a {
   text-decoration: none;
   color: white;
   transition-duration: 0.2s;
}

.header .nav li a:hover {
   transform: scale(110%);
   transition-timing-function: ease-in-out;
}

.header .logo a img {
   height: 30px;
   display: flex;
}

.header .logo a .title {
   display: flex;
}

.section {
   margin-top: 54px;
   text-align: center;
   padding: 70px;
   background-color: #272C34;
   background-image: url(../public/img/section_bgimg.svg);
   background-repeat: no-repeat;
   background-size: 650px;
   background-position: 90% -50%;
}

.section .section_title {
   color: #60DAFB;
   font-size: 80px;
   margin: 30px 0;
   z-index: 3;
}

.section .section_description {
   color: white;
   font-size: 24px;
   font-weight: 200;
   z-index: 3;
}

.section .button_wrap {
   display: flex;
   flex-direction: row;
   font-size: 16px;
   align-items: center;
   justify-content: center;
   gap: 24px;
}

.section .button_wrap .get_started {
   display: flex;
   padding: 10px 20px;
   background-color: #60DAFB;
   color: #272C34;
   cursor: pointer;
   transition-duration: 0.2s;
}

.section .button_wrap .get_started:hover {
   background-color: white;
   transition-timing-function: ease-in-out;
}

.section .button_wrap .tutorial {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   gap: 5px;
   color: #60DAFB;
   transition-duration: 0.2s;
}

.section .button_wrap .tutorial span {
   font-size: 16px;
   display: flex;
}

.section .button_wrap .tutorial:hover {
   color: white;
   transition-timing-function: ease-in-out;
}

.main {
   z-index: 3;
   padding-top: 80px;
}

.main .features {
   display: flex;
   margin: 0 auto;
   padding: 0 20px;
   width: 90%;
   max-width: 1220px;
   gap: 50px;
}

.main .features .item {
   display: flex;
   flex-direction: column;
   width: 33.33%;
}

.main .features .item p{
   margin: 15px 0;
}

.main .features .item .feature{
   font-size: 24px;
   font-weight: 100;
   color: #6d6d6d;
}

.main .features .item .sub{
   font-size: 17px;
   font-weight: 300;
   line-height: 180%;
}

.main .features .item .conclusion{
   font-size: 17px;
   font-weight: 300;
   line-height: 180%;
}

@media screen and (max-width:1024px) {
   .section{
      background-image: none;
   }
}